NEXT_PUBLIC_SITE_URL=https://scenekind.studio
NEXT_PUBLIC_MIXPANEL_TOKEN=b2b7c0cf5b0b348d217c884f03c28168
NEXT_PUBLIC_MIXPANEL_API_HOST=https://api-eu.mixpanel.com
RESEND_API_KEY=
CONTACT_FROM_EMAIL=Scenekind <inquiries@send.scenekind.studio>
